<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.82 7.34" style="width:300px">
    <defs>
        <style>.cls-1{fill:#17e25a;}</style>
    </defs>
    <rect y="5.86" width="18.64" height="0.78" class="lineOne"/>
    <rect x="28.18" y="5.86" width="18.64" height="0.78"  class="lineOne"/>
    <rect class="cls-1" x="34.66" y="29.77" width="10.15" height="0.78" transform="translate(8.36 -44.13) rotate(34.34)"  [ngStyle]="{'display': variable == true ? 'none' : ''}"/>
    <rect class="cls-1" x="18.35" y="5.86" width="10.15" height="0.78" [ngStyle]="{'display': variable == false ? 'none' : ''}"/>
    <circle cx="18.35" cy="6.25" r="1.03"  class="lineOne"/>
    <circle cx="28.18" cy="6.31" r="1.03" class="lineOne"/>
</svg>